*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  position: absolute;
  left: 0;
  top: 0;
  color: wheat;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-container {
  background-color: lightgrey;
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto1 {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-image: url(/img/mountain.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.5;
  transition: transform 0.3s ease-out;
}
.foto2 {
  width: 200px;
  height: 200px;
  background-image: url(/img/Tree.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.8;
  transition: transform 0.3s ease-out;
}
.foto3 {
  width: 200px;
  height: 200px;
  background-image: url(/img/sky-lights.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 60%;
  left: 10%;
  opacity: 0.9;
  transition: transform 0.3s ease-out;
}
.foto4 {
  width: 200px;
  height: 200px;
  background-image: url(/img/Ballons.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20%;
  right: 10%;
  transform: rotate(25deg);
  opacity: 0.4;
  transition: transform 0.3s ease-out;
}
.foto1:hover {
  transform: rotate(0deg) scale(2.5) translate(38px, 38px);
  opacity: 1;
  z-index: 99;
}
.foto2:hover {
  transform: rotate(0deg) scale(2.5);
  opacity: 1;
  z-index: 99;
}
.foto3:hover {
  transform: rotate(0deg) scale(2.5) translate(40px, -60px);
  opacity: 1;
  z-index: 99;
}
.foto4:hover {
  transform: rotate(0deg) scale(2.5) translate(-40px, 20px);
  opacity: 1;
}
